$bgcolor : #A00C6C;
$menucolor : #8B777C;
$espace : 6.25rem;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 996px;

// Large tablets and desktops
$screen-xl-min: 1150px;

// Large tablets and desktops
$screen-xl: 1400px;